[Unit]
Description=GCE Linux Agent
After=local-fs.target network-online.target

[Service]
Type=notify
Restart=always
RestartSec=5

# There is a custom main process that kills all of the contained services.
KillMode=process
KillSignal=SIGTERM

ExecStart=/usr/bin/docker run \
    --net=host \
    --mount type=bind,bind-propagation=rprivate,source=/etc,target=/etc \
    --mount type=bind,bind-propagation=rshared,source=/home,target=/home \
    --mount type=bind,bind-propagation=rprivate,source=/run/systemd,target=/run/systemd

[Install]
WantedBy=multi-user.target
