[Unit]
Description=flannel docker export service - Network fabric for containers (System Application Container)
Documentation=https://github.com/coreos/flannel
PartOf=flanneld.service
Requires=flanneld.service
After=flanneld.service
Before=docker.service

[Service]
Type=oneshot

Environment="DOCKER_RUN_ARGS=--name=flannel-docker"
Environment="FLANNEL_IMAGE_TAG=@FLANNEL_IMAGE_TAG@"

ExecStartPre=-/usr/bin/docker rm --force flannel-docker
ExecStart=/usr/lib/flatcar/flannel-wrapper -d /run/flannel/flannel_docker_opts.env -i
ExecStop=-/usr/bin/docker stop flannel-docker

[Install]
WantedBy=multi-user.target
